.profile {
  margin: 30px auto;
  width: 300px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #b295ba;
  box-shadow: 4px 4px 9px 7px rgba(34, 60, 80, 0.2);
  transition: transform 250ms linear, box-shadow 250ms linear;
  text-align: center;
}
.profile:hover {
  transform: scale(1.03);
  box-shadow: 4px 4px 15px 11px rgba(12, 105, 101, 0.27);
}

.description {
  padding: 20px;
}
.avatar {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 150px;
  margin-bottom: 15px;
  border: 1px solid #a5a5a5;
  border-radius: 50%;
}
.name {
  font-family: sans-serif;
  color: #122236;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
}
.tag,
.location {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 32px;
  color: #768696;
}

.statsList {
  justify-content: space-between;
  flex-wrap: nowrap;
  list-style: none;
  background-color: #f3f6f9;
  display: flex;
  justify-content: space-around;
  border: solid 1px #e4e9f0;
  width: 100%;
}

.statsList li {
  padding: 15px 10px 20px;
  width: calc(100% / 3);
  background-color: #e2d7f8;
  border-top: 1px solid #a5a5a5;
  &:hover {
    color: #453ea8;
  }
}
.statsList li:not(:last-child) {
  border-right: 1px solid #a5a5a5;
}
.label {
  display: block;
  margin-bottom: 10px;
}
.quantity {
  display: block;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
}
